<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>start page</title>
</head>
<body style = "width:70%;
            margin-left: auto;
            margin-right: auto;">
<p id="welcome" th:text="${welcome}"></p>
<table id="main_table" border = '1' width="100%">
    <tr>
        <td>img</td>
        <td>name</td>
        <td>phone</td>
        <td>address</td>
    </tr>
    <script type="text/javascript" src="../js/contractor.js"></script>
</table>
<p>
<form action="../../contractor/0">
    <button type = "submit">ADD</button>
</form>
<form action="../../contractor/reset">
    <button type = "submit">reset</button>
</form>
<form action="../../">
    <button type = "submit">BACK</button>
</form>
</p>
<script type="text/javascript">
    if (document.getElementById("welcome").textContent==""){
        location.replace("http://localhost:8080/contractor")
    }
</script>
</body>
</html>