<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>add contract</title>
</head>
<body style = "width:70%;
            margin-left: auto;
            margin-right: auto;">
<h1>EDITING
    <p type = "text" th:value = "${contractID}"></p>
</h1>
<p id = "error" type = "text" th:text="${error}" style = "color: #ff0000"></p>

<form id = "form" action="/" th:action="@{'/edit/'+${contractID}}" th:object="${contract}" method="post" >
    <p><input type="hidden" th:field="*{id}" /></p>
    <table id="add_table" border = '1' width="100%">
        <tr>
            <td>name</td>
            <td>contractor</td>
            <td>contract date</td>
            <td>start</td>
            <td>end</td>
        </tr>
        <tr>
            <td>
                <p><input id="name" type="text" th:field="*{name}" required placeholder="name"></p>
            </td>
            <td>
                <p>
                <select id="contractor" type="text" th:field="*{contractorName}" required placeholder="name" style="width:100%">
                    <script type="text/javascript">
                        fetch("/api/contractors")
                            .then(response => response.json())
                        .then(contractors => {
                            contractors.forEach(contractor => {
                            const el = document.createElement("option")
                            el.innerHTML = contractor.name+'</option>'
                        document.querySelector('#contractor').append(el)
                        })
                        })
                    </script>
                </select>
                </p>
            </td>
            <td>
                <p><input id="date" type="date" th:field="*{date}" required placeholder="contract date"></p>
            </td>
            <td>
                <p><input type="date" th:field="*{start}" required placeholder="start date"></p>
            </td>
            <td>
                <p><input type="date" th:field="*{end}" required placeholder="end date"></p>
            </td>
            <p><input type="hidden" th:field="*{contractorId}" ></p>
        </tr>
    </table>
    <p><input type="hidden" th:field="*{cost}"/></p>
    <p ><input type="submit" value="Submit" onclick="accept(this.form)"/> <input type="reset" value="Reset" /></p>
</form>
<form action="../../add_contractor">
    <button type="submit">add contractor</button>
</form>
<form action="../../">
    <button type="submit">BACK</button>
</form>
</body>
</html>