<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>add contract</title>
</head>
<body style = "width:70%;
            margin-left: auto;
            margin-right: auto;">
<h1>EDITING
    <p type = "text" th:value = "${contractorID}"></p>
</h1>
<p id = "error" type = "text" th:text="${error}" style = "color: #ff0000"></p>
<form id = "form"  th:action="@{'/contractor/edit/'+${contractorID}+'/'+${backPath}}" th:object="${contractor}" method="post" enctype="multipart/form-data">
    <p><input type="hidden" th:field="*{id}" /></p>
    <table id="add_table" border = '1' width="100%">
        <tr>
            <td>image</td>
            <td>name</td>
            <td>address</td>
            <td>phone</td>

        </tr>
        <tr>
            <td>
                <p><input id="img" type="file" name="file" accept="image/jpeg,image/png,image/gif" required></p>
            </td>
            <td>
                <p><input id="name" type="text" th:field="*{name}" required placeholder="name"></p>
            </td>
            <td>
                <p><input type="text" th:field="*{address}" required placeholder="address"></p>
            </td>
            <td>
                <p><input type="number" th:field="*{phone}" required placeholder="phone"></p>
            </td>
        </tr>
        <p><input type="hidden" th:field="*{image}"></p>
    </table>
    <p ><input type="submit" value="Submit" onclick="accept(this.form)"/> <input type="reset" value="Reset" /></p>
</form>
<form th:action="@{'/'+${backPath}}">
    <button type="submit">BACK</button>
</form>
</body>
</html>