<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>add contract</title>
</head>
<body style = "width:70%;
            margin-left: auto;
            margin-right: auto;">
<h1>EDITING
    <p type = "text" th:text = "${contractID}"></p></h1>
<p id = "error" type = "text" th:text="${error}" style = "color: #ff0000"></p>
<form id = "form" action="/" th:action="@{'/contract/'+${contractID}+'/edit/'+${stageID}}" th:object="${stage}" method="post">
    <p><input type="hidden" th:field="*{id}" /></p>
    <p><input type="hidden" th:field="*{contractId}" /></p>
    <table id="add_table" border = '1' width="70%">

        <tr>
            <td>name</td>
            <td>start</td>
            <td>end</td>
            <td>cost</td>
            <td>purchase_date</td>
        </tr>

        <tr>
            <td>
                <p><input type="text" th:field="*{name}" required placeholder="name"/></p>
            </td>
            <td>
                <p><input type="date" th:field="*{start}" required placeholder="start date"/></p>
            </td>
            <td>
                <p><input type="date" th:field="*{end}" required placeholder="end date"/></p>
            </td>
            <td>
                <p><input type="number" th:field="*{cost}" required step="0.01" min="0" placeholder="0,00"/></p>
            </td>
            <td>
                <p><input type="date" th:field="*{purchaseDate}" required placeholder="purchase date"/></p>
            </td>
        </tr>
    </table>
    <p ><input type="submit" value="Submit"/> <input type="reset" value="Reset" /></p>
</form>
<form th:action="@{'/contract/'+${contractID}}">
    <button type="submit">BACK</button>
</form>
</body>
</html>