<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p type = "text" th:text = "${ERROR}"></p>
    </p>
</body>
</html>