<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>start page</title>
</head>
<body style = "width:70%;
            margin-left: auto;
            margin-right: auto;">
    <h1 id = "welcome" th:text="${hi}"></h1>
    <form action="/export" method="post">
        <table id="main_table" border = '1' width="100%">
            <tr>
                <td>to Export</td>
                <td>contractor</td>
                <td>name</td>
                <td>сontract date</td>
                <td>start</td>
                <td>end</td>
                <td>total cost</td>
            </tr>
            <script type="text/javascript" src="js/main.js"></script>
        </table>
        <p>
        <label><input type="radio" name="exportType" value="CSV" checked>Export to CSV</label>
        <label><input type="radio" name="exportType" value="PDF">Export To PDF</label>
        <button type="submit" class="btn btn-primary">Submit</button>
        </p>

    </form>
    <p>
        <form action="../../add">
            <button type = "submit">Add contract</button>
        </form>
        <form action="../../contractor">
            <button type = "submit">show contractors</button>
        </form>
        <form action="../../reset">
            <button type = "submit">RESET</button>
        </form>
    </p>
    <script type="text/javascript">
        if (document.getElementById("welcome").textContent==""){
            location.replace("http://localhost:8080/")
        }
    </script>

</body>
</html>