<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
    <title>stages</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script  type="text/javascript" src="http://localhost:8080/js/stages.js"></script>
    <script th:inline="javascript" type="text/javascript">
        google.charts.load('current', {'packages':['timeline']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            function check(id) {
                if (document.getElementById("contractID").textContent == id) return true;
            }
            fetch("/api/stages/"+ [[${contractID}]])
                .then(response => response.json())
                .then(stages => {
                var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Position' });
            dataTable.addColumn({type: 'string', id: 'Name'});
            dataTable.addColumn({type: 'date', id: 'Start'});
            dataTable.addColumn({type: 'date', id: 'End'});

            a = 2;
            minDate = new Date(new Date().getTime() - 1409600000)
            maxDate = new Date(new Date().getTime() + 1409600000)
            stages.forEach(stage => {
                const el = document.createElement('tr')
                if(stage.contractId == [[${contractID}]])

            {
                a+=1
                dataTable.addRows([
                    [stage.id.toString(),stage.name.toString(), new Date(stage.start.toString()), new Date(stage.end.toString())]])
                a = add_cell(stage.name)
                a += add_cell(stage.start)
                a += add_cell(stage.end)
                a += add_cell(stage.cost)
                a += add_cell(stage.purchasDate)
                a += add_cell('<a href="../../contract/' + stage.contractId + '/edit/' + stage.id + '">edit</a>')
                a += add_cell('<a href="../../contract/' + stage.contractId + '/delete/' + stage.id + '">delete</a>')
                el.innerHTML = a + '</tr>'
                document.querySelector('#stage_table').append(el)
                if(maxDate<new Date(stage.end)) maxDate = stage.end
                if(minDate>new Date(stage.start)) minDate = stage.start
            }
        })
            dataTable.addRows([
                ["","", new Date(minDate), new Date(minDate)],
                ["","NOW", new Date(), new Date()],
                ["","", new Date(maxDate), new Date(maxDate)]])
            a*=41
            a+=10
            var options = {
                timeline: {showRowLabels: false,
                        colorByRowLabel: true},

            }
            document.getElementById("timeline").setAttribute("style","height:"+a+"px;")
            if (a!==51)chart.draw(dataTable,options);
        })
        }
    </script>
</head>
<body style = "width:70%;
            margin-left: auto;
            margin-right: auto;">

<h2 id="welcome" th:text="${welcome}"></h2>
<div>
    <div id="timeline" style="height: 1px;">
        <rect style="position: relative; background: #ffffff; height: 100%; width: 3px; float: left" ></rect>
        <rect style="position: relative; background: #ffffff; height: 100%; width: 3px; float: right" ></rect>
    </div>
    <table id="stage_table" border = '1' style = "width: 100%;">
        <tr>
            <td>name</td>
            <td>start date</td>
            <td>end date</td>
            <td>cost</td>
            <td>purchase_date</td>
        </tr>

    </table>

    <p>
    <form th:action= "@{'/contract/' +${contractID} + '/add'}">
        <button type = "submit">ADD</button>
    </form></p>
    <form action="/">
        <button type = "submit">BACK</button>
    </form></p>
</div>
<script type="text/javascript" th:inline="javascript">
    if (document.getElementById("welcome").textContent==""){
        location.replace("http://localhost:8080/contract/"+[[${contractID}]])
    }
</script>
</body>
</html>